# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/spinx/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/ai1wm-backups
web/app/themes/twentytwentyfour/
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Windows Thumb
Thumbs.db

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# WP Rocket
web/app/advanced-cache.php
web/app/wp-rocket-config/*
web/app/cache/*

# ignore node modules
node_modules/

# ignore auth.json
/auth.json
